
<% if user_signed_in? %>
  <%= link_to "Write story", new_posts_path %> <br>
  <%= link_to "Log out", destroy_user_session_path, method: "delete" %>

<% else %>
  <%= link_to "Log in", new_user_session_path %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <h1><b>Shame Stub</b> Club House</h1>

    <p>For people to confess other people's secrets!</p>

    <ul class="posts">
      <% @posts.each do |post| %>
        <h3><%= post.title %></h3> <br>
        <h4><%= post.story %></h5> <br>
         <%= post.user.name if user_signed_in? %> - Posted <%= time_ago_in_words(post.created_at) %> ago.
      <% end %>
    </ul>

  </div>
</div>
